#parallax-1{
	left: 10% !important;
	top: 40% !important;
}
#parallax-2{
	left: 50% !important;
	top: 50% !important;
}
#parallax-3{
	left: 20% !important;
	top: 70% !important;
}
#parallax-4{
	left: 70% !important;
	top: 55% !important;
}
#parallax-5{
	left: 10% !important;
	top: 65% !important;
}
#parallax-6{
	left: 50% !important;
	top: 46% !important;
}
#parallax-7{
	left: 60% !important;
	top: 54% !important;
}
#parallax-8{
	left: 70% !important;
	top: 4% !important;
}
#parallax-7{
	left: 80% !important;
	top: 14% !important;
}
#parallax-9{
	left: 90% !important;
	top: 24% !important;
}
#parallax-10{
	left: 10% !important;
	top: 34% !important;
}
#parallax-11{
	left: 5% !important;
	top: 44% !important;
}
#parallax-12{
	left: 15% !important;
	top: 54% !important;
}
#parallax-13{
	left: 35% !important;
	top: 64% !important;
}
#parallax-14{
	left: 23% !important;
	top: 68% !important;
}
#parallax-15{
	left: 69% !important;
	top: 64% !important;
}
#parallax-16{
	left: 88% !important;
	top: 57% !important;
}
#parallax-17{
	left: 95% !important;
	top: 14% !important;
}
#parallax-18{
	left: 78% !important;
	top: 71% !important;
}
