.section3 {

	.col.s3 {
		transition: 1s;
		border-radius: 20px;
		height: 33.33vh;
	
		&:hover {
			transform: scale(1.1);
			font-size: 15px;
		}
	}

	#number_2 .col.s8 {
		text-align: left;
	}
	
	ul::before, li::before {
	content: "•";
	color: red;
	display: inline-block;
	width: 1em;
	margin-left: -1em
	}
}

	.col.s3 img {
	height: 70%;
	width: 50%;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	}

	.modal-trigger {
		position: relative;
	}


	a.modal-trigger:hover > span.hover-visible {
	    display: block;
	}

	.modal-content p:last-child, li:last-child {
		padding-bottom: 50px;
	}

	.hover-visible {
    display: none;
    position: absolute;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	top: 5%;
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 22px !important;
}

	.row {
		margin: 0;
	}

	.modal-content .s4 {
		height: 60vh;
	}

}