@import './variable';
@import './parallaxPosition';
@import './preloader';
@import './mobile-devices.scss';
@import 'lib/bourbon/_bourbon';


* {
 box-sizing: border-box;
}

.nav-bgcolor {
		@include linearGradient($Mred , $mainColor);
}

.bgcolor-2{
	 @include linearGradient(#cccccc, $Mred);
}

.bgcolor {
	 @include linearGradient($Mred , #cccccc);
	overflow-x: hidden;
}

.text-rainbow{
 @include rainbow-shadow(10vw);
}

.parallax-image{
	position: absolute;
	max-height: 125px;
}
.scene{
	position: relative;
}

nav{ 
	.brand-logo {
			padding-left: 5% ;
	}
	.hide-on-med-and-down{
		padding-right: 5%;
	}
}



#particles-js{
	position: relative;
}

// .particles-js-canvas-el{
// 	height: 85% $Excl;
// }