@import './variable';
@import './preloader';
@import './mobile-devices.scss';
@import 'lib/bourbon/_bourbon';
@import './section-2-style.scss';
@import './section-3-style.scss';



* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

h1 {
	margin-top: 0;
}

.nav-bgcolor {
		@include linearGradient($Mred , $mainColor);
}

.bgcolor-2{
	 @include linearGradient(#cccccc, $Mred);
}

.bgcolor {
	 @include linearGradient($Mred , #cccccc);
	overflow-x: hidden;
}



.scene{
	position: relative;
}

nav{ 
	.brand-logo {
			padding-left: 5% ;

			img {
				max-width: 140px;
				width: 100%;
				max-height: 64px;
				height: 10vh;
			}
	}
	.hide-on-med-and-down{
		padding-right: 5%;
	}
}

.center-element {
	position: absolute;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	top: 50vh;
}

#particles-js{
	position: relative;
}

.window-height {
	height: 100vh;
}



