@import './variable';
@import './preloader';
@import './mobile-devices.scss';
@import 'lib/bourbon/_bourbon';
@import './section-2-style.scss';
@import './section-3-style.scss';
@import './form-styles.scss';
@import './mousescrollanimationbutton.scss';
@import './footer-style.scss';


.section1, .section2, .section3, .section4, .section4 ,.section5{
	opacity : 0
}


* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 outline: none;
 font-family: 'Superclarendon-Regular';
}

h1 {
	margin-top: 0;
}

.nav-bgcolor {
		@include linearGradient($Mred , $mainColor);
}

.bgcolor-2{
	 @include linearGradient(#cccccc, $Mred);
}

.bgcolor {
	background-image: url(../images/shutterstock_268113698.jpg);
	background-size: cover;
	overflow-x: hidden;
}



.scene{
	position: relative;
}

nav{ 
	.brand-logo {
			padding-left: 5% ;
			opacity: 0;
			img {
				max-width: 140px;
				width: 100%;
				max-height: 64px;
				height: 10vh;

			}
	}
	.hide-on-med-and-down{
		padding-right: 5%;
	}
}

.center-element {
	position: absolute;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	top: 30vh;
}

#particles-js{
	position: relative;
}

.window-height, #map {
	height: 93.89vh;
}

