input, textarea {
  color: #000 !important; }

label {
  color: #861C14 !important; }

.input-field .prefix {
  color: #861C14; }

.form-container {
  border: 5px solid #f2e3d2;
  background: #fff;
  text-decoration: none;
  vertical-align: middle;
  max-width: 600px;
  padding: 20px;
  width: 100%;
  overflow: auto;
  max-height: 700px;
  height: 100%;
  padding-bottom: 10px; }

.form-field {
  border: 1px solid #263238;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #c62828;
  padding: 8px;
  margin-bottom: 20px; }

.form-field:focus {
  background: #fff;
  color: #d50000; }

.form-container h2 {
  text-shadow: #755c3d 0 1px 0;
  font-size: 18px;
  margin: 0 0 10px 0;
  font-weight: bold;
  text-align: center; }

.form-title {
  margin-bottom: 10px;
  color: #d50000;
  text-shadow: #755c3d 0 1px 0; }

.submit-container {
  margin: 8px 0;
  text-align: right; }

.submit-button {
  background: #861C14;
  text-shadow: #861C14 0 1px 0;
  color: #31540c;
  font-family: helvetica, serif;
  padding: 8.5px 18px;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle; }

.submit-button:active {
  text-shadow: #31540c 0 1px 0;
  border: 5px solid #447314;
  background: #8dc059;
  color: #fff; }

textarea {
  resize: none;
  height: 125px; }
