@charset "UTF-8";
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001; }

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */ }

#loader-wrapper .loader-section.section-left {
  left: 0; }

#loader-wrapper .loader-section.section-right {
  right: 0; }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out; }

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none; }

.no-js h1 {
  color: #222222; }

#sidenav-overlay {
  z-index: 100; }

#button_right, #button_left, #button_right2, #button_left2 {
  cursor: pointer; }

#wrapper, #wrapper2 {
  position: relative;
  width: 100%;
  min-height: 55vw;
  overflow: hidden; }

.layer {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
  overflow: hidden; }

.layer .content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 55vw; }

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff; }

.layer img {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.layer h1 {
  font-size: 4em; }

.bottom {
  background: #222;
  z-index: 1; }

.bottom .content-body {
  right: 5%; }

.top {
  background: #eee;
  color: #222;
  z-index: 2;
  width: 50vw; }

.top .content-body {
  left: 5%;
  color: #222; }

.right-text {
  right: 5%;
  left: unset !important;
  text-align: left !important; }

.left-text {
  left: 5%;
  text-align: left !important; }

.right-text, .left-text {
  display: none; }

.handle {
  position: absolute;
  height: 100%;
  display: block;
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3; }

.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 116%;
  transform-origin: top; }

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px); }

.skewed .top .content-wrap {
  transform: skew(30deg);
  margin-left: 1000px; }

.btn_position {
  position: absolute;
  top: 23px;
  left: 23px;
  z-index: 10;
  opacity: 0; }

@media (max-width: 768px) {
  body {
    font-size: 75%; } }

.section3 .col.s3 {
  transition: 1s;
  border-radius: 20px;
  height: 33.33vh; }
  .section3 .col.s3:hover {
    transform: scale(1.1);
    font-size: 15px; }

.section3 #number_2 .col.s8 {
  text-align: left; }

.section3 #number_2 .col.s8 ul::before, .section3 li::before {
  content: "•";
  color: red;
  display: inline-block;
  width: 1em;
  margin-left: -1em; }

.section3 .col.s3 img {
  height: 70%;
  width: 50%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.section3 .modal-trigger {
  position: relative; }

.section3 a.modal-trigger:hover > span.hover-visible {
  display: block; }

.section3 .modal-content p:last-child, .section3 li:last-child {
  padding-bottom: 50px; }

.section3 .hover-visible {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  top: 5%;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 22px !important; }

.section3 .row {
  margin: 0; }

.section3 .modal-content .s4 {
  height: 60vh; }

input, textarea {
  color: #000 !important; }

label {
  color: #861C14 !important; }

.input-field .prefix {
  color: #861C14; }

.form-container {
  border: 5px solid #f2e3d2;
  background: #fff;
  text-decoration: none;
  vertical-align: middle;
  max-width: 600px;
  padding: 20px;
  width: 100%;
  overflow: auto;
  max-height: 700px;
  height: 100%;
  padding-bottom: 10px; }

.form-field {
  border: 1px solid #263238;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #c62828;
  padding: 8px;
  margin-bottom: 20px; }

.form-field:focus {
  background: #fff;
  color: #d50000; }

.form-container h2 {
  text-shadow: #755c3d 0 1px 0;
  font-size: 18px;
  margin: 0 0 10px 0;
  font-weight: bold;
  text-align: center; }

.form-title {
  margin-bottom: 10px;
  color: #d50000;
  text-shadow: #755c3d 0 1px 0; }

.submit-container {
  margin: 8px 0;
  text-align: right; }

.submit-button {
  background: #861C14;
  text-shadow: #861C14 0 1px 0;
  color: #31540c;
  font-family: helvetica, serif;
  padding: 8.5px 18px;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle; }

.submit-button:active {
  text-shadow: #31540c 0 1px 0;
  border: 5px solid #447314;
  background: #8dc059;
  color: #fff; }

textarea {
  resize: none;
  height: 125px; }

.scroll-text-animation {
  position: absolute !important;
  text-align: center;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  bottom: 10%;
  margin-top: 50px;
  font-family: "Cabin", sans-serif;
  letter-spacing: 12px;
  text-indent: 12px;
  color: #ffffff;
  animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite; }

.mouse {
  position: absolute !important;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  bottom: 15%;
  background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
  position: relative;
  width: 52px;
  height: 88px;
  background-size: 100% 100%;
  border-radius: 100px;
  background-size: 225%;
  animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite; }
  .mouse:before, .mouse:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .mouse:before {
    width: 46px;
    height: 82px;
    background-color: #222a30;
    border-radius: 100px; }
  .mouse:after {
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    animation: trackBallSlide 5s linear infinite; }

@keyframes colorSlide {
  0% {
    background-position: 0% 100%; }
  20% {
    background-position: 0% 0%; }
  21% {
    background-color: #4e5559; }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  50% {
    background-position: 0% 0%; }
  51% {
    background-color: #4e5559; }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  80% {
    background-position: 0% 0%; }
  81% {
    background-color: #4e5559; }
  90%, 100% {
    background-color: #ffffff; } }

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-20px); }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px); }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(40px); }
  15%, 19% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px); }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px); }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-20px); }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px); }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(40px); }
  45%, 49% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px); }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px); }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-20px); }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px); }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(40px); }
  75%, 79% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px); }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-20px); } }

@keyframes nudgeMouse {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(8px); }
  30% {
    transform: translateY(0); }
  50% {
    transform: translateY(8px); }
  60% {
    transform: translateY(0); }
  80% {
    transform: translateY(8px); }
  90% {
    transform: translateY(0); } }

@keyframes nudgeText {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(2px); }
  30% {
    transform: translateY(0); }
  50% {
    transform: translateY(2px); }
  60% {
    transform: translateY(0); }
  80% {
    transform: translateY(2px); }
  90% {
    transform: translateY(0); } }

@keyframes colorText {
  21% {
    color: #4e5559; }
  30% {
    color: #ffffff; }
  51% {
    color: #4e5559; }
  60% {
    color: #ffffff; }
  81% {
    color: #4e5559; }
  90% {
    color: #ffffff; } }

.heart {
  fill: #fff;
  position: relative;
  top: 5px;
  width: 20px;
  animation: pulse 1s ease infinite; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.2); }
  50% {
    transform: scale(1.4); }
  75% {
    transform: scale(1.8); }
  100% {
    transform: scale(1); } }

footer a {
  color: #000; }

.explosion {
  position: absolute;
  width: 600px;
  height: 600px;
  pointer-events: none; }
  .explosion .particle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: pop 1s reverse forwards;
    z-index: 10000; }

@keyframes pop {
  from {
    opacity: 0; }
  to {
    top: 50%;
    left: 50%;
    opacity: 1; } }

.section1, .section2, .section3, .section4, .section4, .section5 {
  opacity: 0; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Superclarendon-Regular'; }

h1 {
  margin-top: 0; }

.nav-bgcolor {
  background: #8b0000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8b0000 0%, #b71c1c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8b0000), color-stop(100%, #b71c1c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8b0000 0%, #b71c1c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8b0000 0%, #b71c1c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8b0000 0%, #b71c1c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #8b0000 0%, #b71c1c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.bgcolor-2 {
  background: #cccccc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cccccc 0%, #8b0000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #8b0000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cccccc 0%, #8b0000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cccccc 0%, #8b0000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cccccc 0%, #8b0000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #cccccc 0%, #8b0000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.bgcolor {
  background-image: url(../images/shutterstock_268113698.jpg);
  background-size: cover;
  overflow-x: hidden; }

.scene {
  position: relative; }

nav .brand-logo {
  padding-left: 5%;
  opacity: 0; }
  nav .brand-logo img {
    max-width: 140px;
    width: 100%;
    max-height: 64px;
    height: 10vh; }

nav .hide-on-med-and-down {
  padding-right: 5%; }

.center-element {
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: 30vh; }

#particles-js {
  position: relative; }

.window-height, #map {
  height: 93.89vh; }
